body {
	text-align: center;
}
header {
	background-image: url('../images/lit_logo_light.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 100px;
}

button {
	margin: 1rem;
}

.card {
	border: 1px solid red;
	border-radius: 15px;
}
